body{
    background-color: #161616;
    color: #ddd;
    padding: 50px;
}
h1{
    color: #810371;
    text-align: center;
}
.header{
    margin: auto;
   
    background-color: #810371;
    text-align: center;
}