body{
    background-color: #161616;
    color: #ddd;
    padding: 50px;
}
h1{
    color: #810371;
    text-align: center;
}
.header{
    margin: auto;
    height: 30px;
    background-image: linear-gradient(to right, #970D1A ,#4E204D );
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 12px;
    min-height: 100vh;
}
.header span{
    color: #f804d8;
}

